@import 'tailwindcss';

.text-primary {
  @apply text-[#4478B9]; /* color que antes estaba en el config */
}

.text-primary-secondary {
  @apply text-[#2C5AA0]; /* ejemplo de otro color personalizado */
}

.bg-primary {
  @apply bg-[#4478B9];
}

.font-sans {
  @apply font-sans; /* Poppins viene de Tailwind si está en el package */
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 800;
}